.hero{
    background-image: url("asset-monochrome/bg-image-hero.png"); /* met l'image en fond */
    background-size: cover;            /* remplit toute la section */
    background-position: center;              /* centre l'image */
    height: 500px;                                /* hauteur de la section */
    display: flex;                                   /* active flexbox */
    align-items: center;                                /* centre verticalement */
    color: white;                                        /* texte en blanc */
}
header{
    padding: 30px 16px 10px;
}
.bntnav{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.btnheader{
    display: flex;
    color: black;
    text-decoration: none;
}

.hero-content{
    max-width: 600px;       /* limite la largeur du texte */
    margin-left: 80px;    /* espace à gauche */
}
.less-content{
    margin-left: 16px;
}
body {
    margin: 0;
}

